@import-normalize;

* {
  box-sizing: border-box;
}

body {
  background-color: #EAEFF3;
}

#root {
  margin: 35px auto 0;
  max-width: 800px;
}

textarea {
  min-height: 5em;
  max-height: 50vh;
  width: 100%;
}